<% specs = [ :rope_diameter, :lifting_capacity_first_layer, :pulley_diameter, :lifting_capacity_last_layer, :rope_capacity_first_layer, :rope_capacity_total, :number_of_layers, :lift_per_crank, :required_effort, :ratio, :haulage_capacity ] %>

<% specs.each do |spec| %>
<div class="field" data-hook="<%= spec %>">
<%= f.label spec, Spree.t(spec) %>
<%= f.text_field spec, class: 'fullwidth', id: "#{spec}", :name => "variant[#{spec}]"%>
<% if spec == :pulley_diameter %>
  <p><strong>IMPORTANT:</strong> Only enter a pulley diameter on a pulley. <br>If you have entered a value 
    in this box <strong>against the first variant</strong> on a product, the fields below 
    will not show up on the product page.</strong></p>
  <hr>
<% end %>
</div>

<% end %>

