<% specs = [ :rope_diameter, :lifting_capacity_first_layer, :lifting_capacity_last_layer, :rope_capacity_first_layer, :rope_capacity_total, :number_of_layers, :lift_per_crank, :required_effort, :ratio ] %>

<% specs.each do |spec| %>

<div class="field" data-hook="<%= spec %>">
<%= f.label spec, Spree.t(spec) %>
<%= f.text_field spec, class: 'fullwidth', id: "#{spec}", :name => "variant[#{spec}]"%>
</div>

<% end %>

